<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Trabalho Brenno FLavio</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>

	<header>
		<section>
			<div class="container text-center">
				<div class="row">
					<div class="col-lg-12 col-xl-12">
						<img src="{{ url_for('static', filename='img/logo.png') }}" alt="logomarca" id="logo">
					</div>
				</div>
			</div>

			<div class="container text-center">
				<div class="row">
					<div class="col-lg-12 col-xl-12">
						<h1 id="tt1">GRUPO AFINIDADE</h1>
					</div>
				</div>
			</div>
		</section>
	</header>
	<hr id="linhaTopott1">
	<hr id="linhaTopott1">
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-xl-3">
					<img src="{{ url_for('static', filename='img/aperto_mao.jpg') }}" id="aperto_mao">
				</div>
				<div class="col-lg-9 col-xl-9">
					<hr id="linhaTopott2">
					<h4 id="tt2">Prezado(a). {{ company }}</h4>
					<hr id="linhaTopott2">
					<p>
						No mercado há mais de 35 anos, o Grupo Afinidade trabalha para oferecer à sua empresa a melhor e
						mais adequada solução de produtos de saúde e odontologia.
					</p>
					<p>
						A Afinidade é responsável pela venda de planos empresariais de assistência médica para pequenas,
						médias e grandes empresas de todos os ramos de atuação.
					</p>
					<p>
						Contamos com um grande portfólio de vendas, que permite à sua empresa oferecer aos seus
						colaboradores a melhor solução, com toda a comodidade, segurança, agilidade e melhor índice de
						rendibilidade.
					</p>
					<p>
						Fazemos questão de conhecer de perto seu mercado de atuação e o perfil dos seus funcionários.
						oferecendo opções com a melhor relação de
						custo-benefício e que adequém às suas necessidades. Assim, vamos promover
						maior fidelização de seus funcionários e contribuir para o desenvolvimento da sua empresa.
					</p>
					<p>
						Aqui você encontra atendimento diferenciado e profissionais comprometidos que vão acompanhar à
						administração referente ao produto saúde/ odonto, para que sua empresa não despenda nenhum
						esforço e. nesse sentido, investiremos em seu crescimento
					</p>
					<p>
						Deste modo, gostaríamos de oferecer promissora parceria com o Grupo Afinidade e as principais
						operadoras de planos de saúde do mercado.
					</p>
				</div>
			</div>
			<hr id="linhaTopott3">
		</div>

	</section>


	{% for company in insurance_companies %}

	<section>
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12 col-xl-12">
					<hr id="linhaTopott3">
					<h1 id="tt3">Tabela {{ company }}</h1>
					<hr id="linhaTopott3">
				</div>
			</div>
		</div>
	</section>

	{% for insurance_data in insurante_data_template[company]['table_data'] %}

	<section>
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12 col-xl-12">

					<table class="table">
						<thead class="thead" id="faixa_top">
							<tr>
								<th scope="col">PRODUTO</th>

								{% for table_data in insurance_data %}

								<th scope="col">{{ table_data.name }}</th>

								{% endfor %}

							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Abrangência</th>

								{% for table_data in insurance_data %}

								<td>{{ table_data.coverage }}</td>

								{% endfor %}

							</tr>
							<tr>
								<th scope="row">Coparticipação</th>
								{% for table_data in insurance_data %}

								<td>{{ table_data.coparticipation }}</td>

								{% endfor %}
							</tr>
							<tr>
								<th scope="row">Compulsório</th>
								{% for table_data in insurance_data %}

								<td>{{ table_data.compulsory }}</td>

								{% endfor %}
							</tr>

							<tr>
								<th scope="row">Acomodação</th>
								{% for table_data in insurance_data %}

								<td>{{ table_data.accommodation }}</td>

								{% endfor %}
							</tr>



						</tbody>
					</table>


				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12 col-xl-12">


					<table class="table">
						<thead class="thead" id="faixa_top">
							<tr>
								<th scope="col" id="sumi">PRODUTO</th>

								{% for table_data in insurance_data %}

								<th scope="col" id="sumi">{{ table_data.name }}</th>

								{% endfor %}
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">0-18</th>

								{% for table_data in insurance_data %}

								<td>{{ table_data.age_0_18 }}</td>

								{% endfor %}

							</tr>

							<tr>
								<th scope="row">19-23</th>

								{% for table_data in insurance_data %}

								<td>{{ table_data.age_19_23 }}</td>

								{% endfor %}

							</tr>
							<tr>
								<th scope="row">24-28</th>

								{% for table_data in insurance_data %}

								<td>{{ table_data.age_24_28 }}</td>

								{% endfor %}


							</tr>
							<tr>
								<th scope="row">29-33</th>

								{% for table_data in insurance_data %}

								<td>{{ table_data.age_29_33 }}</td>

								{% endfor %}


							</tr>
							<tr>
								<th scope="row">34-38</th>

								{% for table_data in insurance_data %}

								<td>{{ table_data.age_34_38 }}</td>

								{% endfor %}


							</tr>

							<tr>
								<th scope="row">39-43</th>

								{% for table_data in insurance_data %}

								<td>{{ table_data.age_39_43 }}</td>

								{% endfor %}


							</tr>

							<tr>
								<th scope="row">44-48</th>

								{% for table_data in insurance_data %}

								<td>{{ table_data.age_44_48 }}</td>

								{% endfor %}


							</tr>

							<tr>
								<th scope="row">49-53</th>

								{% for table_data in insurance_data %}

								<td>{{ table_data.age_49_53 }}</td>

								{% endfor %}


							</tr>

							<tr>
								<th scope="row">54-58</th>

								{% for table_data in insurance_data %}

								<td>{{ table_data.age_54_58 }}</td>

								{% endfor %}


							</tr>

							<tr>
								<th scope="row">59+</th>

								{% for table_data in insurance_data %}

								<td>{{ table_data.age_59_more }}</td>

								{% endfor %}


							</tr>

							<tr>
								<th scope="row">Total</th>

								{% for table_data in insurance_data %}

								<td>{{ table_data.amount }}</td>

								{% endfor %}

							</tr>

							<tr>
								<th scope="row">I.O.F</th>
								{% for table_data in insurance_data %}

								<td>{{ table_data.iof }}</td>

								{% endfor %}

							</tr>



						</tbody>
					</table>


				</div>
			</div>
		</div>
	</section>

	{% endfor %}




	<section>
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12 col-xl-12">
					<hr id="linhaTopott4">
					<h1 id="tt4">REDE CREDENCIADA</h1>
					<hr id="linhaTopott4">
				</div>
			</div>
		</div>
	</section>

	{% for insurance_data in insurante_data_template[company]['table_data'] %}

	<section>
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12 col-xl-12">

					<table class="table">
						<thead class="thead" id="faixa_top">
							<tr>
								<th scope="col">HOSPITAIS</th>

								{% for table_data in insurance_data %}

								<th scope="col">{{ table_data.name }}</th>

								{% endfor %}
							</tr>
						</thead>
						<tbody>

							{% for hospital in hospitals %}

							<tr>
								<th scope="row">{{ hospital }}</th>

								{% for table_data in insurance_data %}

								{% if table_data.name %}

								<td> <input type="checkbox" {% if hospital in table_data.hospitals %} checked {% endif %}> </td>

								{% endif %}

								{% endfor %}
							</tr>

							{% endfor %}

						</tbody>
					</table>


				</div>
			</div>
		</div>
	</section>

	{% endfor %}

	{% for insurance_data in insurante_data_template[company]['table_data'] %}

	<section>
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12 col-xl-12">

					<table class="table">
						<thead class="thead" id="faixa_top">
							<tr>
								<th scope="col">LABORATÓRIOS </th>
								{% for table_data in insurance_data %}

								<th scope="col">{{ table_data.name }}</th>

								{% endfor %}
							</tr>
						</thead>
						<tbody>

							{% for laboratory in laboratories %}

							<tr>
								<th scope="row">{{ laboratory }}</th>
								{% for table_data in insurance_data %}

								{% if table_data.name %}

								<td> {% if laboratory in table_data.laboratories %} <input type="checkbox" checked > {% else %} <input type="checkbox" > {% endif %}</td>

								{% endif %}

								{% endfor %}
							</tr>

							{% endfor %}
						</tbody>
					</table>


				</div>
			</div>
		</div>
	</section>

	{% endfor %}


	{% endfor %}

	<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>