#logo{
	width: 100px;
	margin-top: 20px;
}


#tt1{
	font-size:55px;
	color:#2d437d;
	font-weight: bold;
}

#tt2{
	color:#2d437d;
}

#tt3{
	color:#2d437d;
}

#tt4{
	color:#2d437d;
}

#linhaTopott1{
	width: 82%;
	height: 3px;
	background-color:#bfc3dc;

}

#linhaTopott2{
	width:100%;
	height: 3px;
	background-color:#bfc3dc;

}

#linhaTopott3{
	width:100%;
	height: 3px;
	background-color:#bfc3dc;
}

#linhaTopott4{
	width:100%;
	height: 3px;
	background-color:#bfc3dc;
}

#aperto_mao{
	width: 100%;
	/*width: 255px;*/
}

#faixa_top{
	background-color:#2d437d !important;
	color: white;
}

#sumi{
	color:#2d437d;
}